.App {
  text-align: center;
  
}

.slika {
  width: 220px;
  height: 350px;
}


* {
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(226, 226, 226);
}

#root {
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  width: 100%; 
  background: rgb(233, 233, 233);
}

.spacer{
  margin-bottom: 85px; /* how high is your footer */
  visibility: hidden; 

=======
  width: 100%;
  height: 100%;
}




.Password {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 4vmin;
  pointer-events: none;
}

.Username {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 4vmin;
  pointer-events: none;
>>>>>>> 6b25768e51c574744ca22ecfbf82f43e65de3dc4
}