.App {
  text-align: center;
  
}

.slika {
  width: 220px;
  height: 350px;
}


* {
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(226, 226, 226);
}

#root {
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%; 
  background: rgb(233, 233, 233);
}

.spacer{
  margin-bottom: 85px; /* how high is your footer */
  visibility: hidden; 

}