.registration-form-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: .4rem;
    box-shadow: 1px 2px 11px dimgrey;
    margin: 7em auto auto auto;
    width: 30rem;
    padding: 2rem;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.registration-form .form-field span {
    color: red;
    font-size: .8rem;
    display: block;
    min-height: 1rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.form-label {
    font-weight: bold;
    font-size: 1.4rem;
    color: black;
    background-color: white;
    margin-bottom: .5rem;
    background: transparent;
}

.form-input {
    font-size: 1.2rem;
    border-radius: 8px;
    font-family: cursive;
}

.text-input {
    background-color: rgb(226, 226, 226);
    color: black;
    height: 2rem;
    background-color: white;
    box-shadow: 1px 1px 7px lightsteelblue;
    padding: 0 10px;
    font-size: 1rem;
}

.submit-button {
    height: 3rem;
    color: white;
    background-color: blueviolet;
    box-shadow: 1px 1px 7px black;
    width: 50%;
    cursor: pointer;
    align-self: center;
}

.submit-button:hover {
    background-color: darkviolet;
}