.nav-container {
  display: block;
  position: fixed;
  box-sizing: border-box;
  z-index: 1000;
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 5px;
  box-shadow: 0px 3px 10px rgb(187, 187, 187);
}

.filler1 {
  flex-grow: 3;
}

.filler2 {
  flex-grow: 4;
}

.logo-container {
  height: 40px;
}

.link-container {
  display: inline-flex;
  height: 50px;
  align-items: center;
  margin-right: 10px;
}

ul {
  height: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
}

li {
  display: flex;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
}

li a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  height: 100%;
}
a:link,
a:visited {
  color: black;
}
li:hover > a {
  transform: scale(1.3);
  color: rgb(167, 89, 255);
  cursor: pointer;
  transition-duration: 0.3s;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Dropdown Button */
.dropbtn {
<<<<<<< HEAD
  background-color: #6804aa;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
=======
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  height: 100%;
>>>>>>> a93600ef5555c5650f238de98d2776ea307981c2
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #440975;
}
