.movie-container{
    width: 100%;
    height: 100%;
} 

.movie-img-container{
    display: flex;
}

.movie-img-container img{
    width: 100%;
    height: 100%;
}

.movie-title-container h3{
    font-size: 1.5rem;
}

.termin-container{
    margin: 0.1em;
    padding: 0.2em;
    border-radius: 10px;
    background: rgba(168, 168, 168, 0.4);
}

.movie-time-container{
    padding: 0.3em;
}