/*Za slidebar*/
  
.carousel-cell {
    margin: 5px;
    width: 220px;
    height:500px;
    margin-right: 30px;
    border-radius: 10px;
    overflow: hidden;
    counter-increment: gallery-cell;
    box-shadow: 0px 0px 3px 1px rgb(255, 61, 126);
    background: rgb(255, 255, 255);
}

.flickity-page-dots {
   display: none;
}